.reactForm {
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
	min-height: 100vh;
}

.reactForm.phone form {
  width: 90%;
}

form > div {
	padding-bottom: 10px;
}

.reactForm.phone form > div {
  padding: 0 5px 5px;
}

.reactForm.phone form > div:not(.submit) {
  border: solid 1px #ece9e9;
  margin-bottom: 5px;
  border-radius: 5px;
}

.reactForm.web .label {
	display: inline-block;
	width: 100px;
	text-align: right;
	padding-right: 10px;
	vertical-align: top;
  font-size: 13px;
  line-height: 25px;
}

.reactForm.phone .label {
	display: block;
	padding-right: 10px;
	padding-bottom: 6px;
	vertical-align: top;
  font-size: 13px;
}

.radio {
	display: inline-block;
	padding-right: 20px;
}

/*
.reactForm.web form input,.reactForm.web form select,.reactForm.web form textarea,.reactForm.web form button{
  border-radius: 4px;
  outline: none;
  border: 1px solid #c7c6c6;
  padding: 0 10px;
  resize: none;
}
*/

form input,form select,form textarea,form button{
	/*border-color: #20a0ff!important;*/
  border-radius: 4px;
  outline: none;
  border: 1px solid #c7c6c6;
  padding: 0 10px;
  resize: none;
}

.reactForm.web form input:not([type=radio]) {
  width: 150px;
}

/*
.reactForm.web form input:not([type=radio]),.reactForm.web form button, form select {
  height: 25px;
}
*/

.reactForm.web form input:not([type=radio]),.reactForm.web form button, form select {
  height: 25px;
}

.reactForm.web form textarea {
	width: 150px;
  height: 60px;
  padding: 10px;
  text-align: justify;
  font-family: auto;
}

form .img_container {
  display: flex;
  flex-direction: row;
}

form .img_context {
  margin: 10px 0 0 10px;
  position: relative;
	width: 200px;
  height: 150px;
}

form .img_context:nth-child(1) {
  margin: 10px 0 0 110px;
}

form .img_close {
  position: absolute;
  width: 25px;
  height: 25px;
  background: red;
  text-align: center;
  display: inline-block;
  line-height: 20px;
  top: -10px;
  right: -10px;
  border-radius: 50px;
  font-size: 20px;
  color: white;
}

/*
form img {
	display: block;
  margin: 10px 0 0 10px;
}
 
form img:nth-child(1) {
  margin: 10px 0 0 105px;
}
*/

.reactForm.web form img {
  width: 100%;
  height: 100%;
}

.reactForm.phone form .img_container {
  display: flex;
  flex-flow: row wrap;
}

.reactForm.phone form .img_context {
  margin: 10px 10px 0 0;
  position: relative;
	width: 100px;
  height: 60px;
}

/*
.reactForm.phone form .img_context:nth-child(1) {
  margin: 10px 0 0 105px;
}
*/

.reactForm.phone form  .img_close {
  position: absolute;
  width: 25px;
  height: 25px;
  background: red;
  text-align: center;
  display: inline-block;
  line-height: 20px;
  top: -10px;
  right: -10px;
  border-radius: 50px;
  font-size: 20px;
  color: white;
}

.reactForm.phone form img {
	width: 100%;
	height: 100%;
}

.reactForm.phone form input:not([type=radio]),.reactForm.phone form button, form select {
  height: 25px;
}

.reactForm button {
  background: #20a0ff;
  color: white;
}

.reactForm button.disabled {
  background: #bbb8b8;
  color: #666666;
}

form span {
  font-size: 13px;
}

.reactForm form span.require_star {
  position: absolute;
}

.reactForm.phone form span.require_text {
  display:block;
  margin-left: 0!important;
  margin-top: 5px;
  position: relative!important;
}

.reactForm form span.require_text {
  /*
  font-family: cursive;
  font-size: 19px;
   */
  font-size: 12px;
  line-height: 25px;
}

.reactForm.phone .submit {
  text-align: center;
}

.reactForm .server_info {
  padding-left: 110px;
}

.reactForm.phone .server_info {
  padding-left: 10px;
}

/*
 * web_mini css start
 */

.reactForm.web_mini .label,.reactForm.web_mini .require_text {
  line-height: 25px;
}

/*
 * web_mini css end
 */



/*
 * web_middle css start
 */


.reactForm.web_middle .label,.reactForm.web_middle .require_text,.reactForm.web_middle form button {
  line-height: 35px;
  height: 35px;
}

.reactForm.web_middle form button {
  padding: 0 35px;
}

.reactForm.web_middle select,.reactForm.web_middle input {
  height: 35px;
  width: 300px;
}

.reactForm.web_middle select {
  width: 320px;
}

.reactForm.web.web_middle form input {
  height: 35px!important;
  width: 300px!important;
}

.reactForm.web.web_middle form textarea {
    width: 300px;
    height: 100px;
}


/*
 * web_middle css end
 */



/*
 * web_max css start
 */


/*
 * web_max css end
 */
